<div>
    <button (click)="goBack()">Go back</button>
</div>
<div *ngIf="pokemonProfile">
    <p>{{ pokemonProfile.name }}</p>
    <img [src]="pokemonProfile.image"/>
    <div *ngFor="let text of pokemonProfile.description">
        <p>{{ text }}</p>
    </div>
    <p>Height: {{ pokemonProfile.height }}</p>
    <p>Weight: {{ pokemonProfile.weight }}</p>
    <p>Genus: {{ pokemonProfile.genus}}</p>
    <div *ngFor="let type of pokemonProfile.types">
        <p>Type: {{ type }}</p>
    </div>
    <div *ngFor="let stat of pokemonProfile.stats">
        <p>Stat: {{ stat.stat }} Value: {{ stat.base_stat }}</p>
    </div>
</div>