#no-results-image {
    display: flex;
    justify-content: center;
}

#no-results-image > .no-results-img {
    height: 20rem;
    width: 25rem;
}

#no-results-info > .no-results-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0;
}

#no-results-info > .no-results-text {
    font-size: 1.5rem;
    text-align: center;
}