<div class="pokedex">
    <header class="filters-section">
        <div class="search">
            <label class="label">Search:</label>
            <input
                [(ngModel)]="search"
                type="text"
                (ngModelChange)="searchPokemons()"
                class="field"
                placeholder="Search pokemon..."
            /> 
        </div>
        <div class="filter">
            <label class="label">Filter by generation:</label>
            <button class="gen-button" (click)="filterPokemonsByGeneration(1)">G1</button>
            <button class="gen-button" (click)="filterPokemonsByGeneration(2)">G2</button>
            <button class="gen-button" (click)="filterPokemonsByGeneration(3)">G3</button>
            <button class="gen-button" (click)="filterPokemonsByGeneration(0)">X</button>
        </div>
        <div class="pages">
            <label class="label">Pages:</label>
            <button class="page-button" (click)="loadNextPage(0)">1</button>
            <button class="page-button" (click)="loadNextPage(1)">2</button>
            <button class="page-button" (click)="loadNextPage(2)">3</button>
        </div>
    </header>
    <div class="main" *ngIf="search==='' && generation === 0; else searchResults">
        <pokecard-component
            *ngFor="let pokecard of pokecardFullList"
            [pokeCard]="pokecard">
        </pokecard-component>
    </div>
    <ng-template #searchResults>
        <div class="results">
            <pokecard-component
                *ngFor="let pokecard of pokecardFilteredList"
                [pokeCard]="pokecard">
            </pokecard-component>
            <div id="no-results" *ngIf="pokecardFilteredList.length === 0">
                <no-content-component *ngIf="generation === 0 && search!==''; else noGenerationPokemons"
                [message]="search"></no-content-component>
            </div>
        </div>
    </ng-template>
    <ng-template #noGenerationPokemons>
        <no-content-component
        [message]="messageGeneration"></no-content-component>
    </ng-template>
</div>