<div class="pokedex">
    <div class="filters-section">
        <div class="search">
            <fa-icon class="icon" [icon]="searchIcon"></fa-icon>
            <input
                [(ngModel)]="search"
                type="text"
                (ngModelChange)="searchPokemons()"
                class="field"
                placeholder="Search pokemon..."
            /> 
        </div>
        <div class="filter">
            <label class="label">Show by generation:</label>
            <select class="field" (change)="onChange($event)">
                <option selected value="0">All</option>
                <option value="1">Generation 1</option>
                <option value="2">Generation 2</option>
                <option value="3">Generation 3</option>
                <option value="4">Generation 4</option>
            </select>
        </div>
        <div class="pages">
            <button class="page-button" *ngIf="pageNumber>1" (click)="loadNewPokemons('first')">
                <fa-icon class="icon" [icon]="firstPageIcon"></fa-icon>
            </button>
            <button class="page-button" *ngIf="pageNumber>1" (click)="loadNewPokemons('previous')">
                <fa-icon class="icon" [icon]="prevPageIcon"></fa-icon>
            </button>
            <input type=text
                readonly
                [(ngModel)]="pageNumber"
                class="page-field"/>
            <button class="page-button" *ngIf="pageNumber<17" (click)="loadNewPokemons('next')">
                <fa-icon class="icon" [icon]="nextPageIcon"></fa-icon>
            </button>
            <button class="page-button" *ngIf="pageNumber<17" (click)="loadNewPokemons('last')">
                <fa-icon class="icon" [icon]="lastPageIcon"></fa-icon>
            </button>
        </div>
    </div>
    <div class="main" *ngIf="search===''; else searchResults">
        <pokecard-component
            *ngFor="let pokecard of pokecardFullList"
            [pokeCard]="pokecard">
        </pokecard-component>
    </div>
    <ng-template #searchResults>
        <div class="results">
            <pokecard-component
                *ngFor="let pokecard of pokecardFilteredList"
                [pokeCard]="pokecard">
            </pokecard-component>
            <div id="no-results" *ngIf="pokecardFilteredList.length === 0">
                <no-content-component
                [message]="search"></no-content-component>
            </div>
        </div>
    </ng-template>
</div>