$default-font: Arial, Helvetica, sans-serif;
$no-results-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

.pokedex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

.pokedex > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 10px;
}

.pokedex > .header > .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
}

.pokedex > .header > .search > .label {
    font-family: $default-font;
    font-size: 1.2rem;
    font-weight: 550;
}

.pokedex > .header > .search > .field {
    border-radius: 5px;
    border: 1px solid grey;
    height: 1.5rem;
    width: 20rem;
    margin: 0px 0px 0px 10px;
}

.pokedex > .header > .pages {
    width: auto;
}

.pokedex > .header > .pages > .page-button {
    margin: 5px;
    height: 2rem;
    width: 2rem;
    border-radius: 5px;

    background-color: white;
    border: 2px solid rgb(255, 105, 105);

    &:hover {
        background-color: rgb(255, 105, 105);
        color: white;
    }
}

.pokedex > .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
}

.pokedex > .results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#no-results {
    display: flex;
    flex-direction: column;
    justify-items: center;
    
    margin-top: 15px;
}

#no-results > #no-results-image {
    display: flex;
    justify-content: center;
}

#no-results > #no-results-image > .no-results-img {
    height: 20rem;
    width: 25rem;
}

#no-results > #no-results-info > .no-results-title {
    font-size: 3rem;
    font-family: $no-results-font;
    text-align: center;
    margin-bottom: 0;
}

#no-results > #no-results-info > .no-results-text {
    font-size: 1.5rem;
    font-family: $no-results-font;
    text-align: center;
}
