<div class="pokedex">
    <header class="header">
        <div class="search">
            <p class="label">Search:</p>
            <input
                [(ngModel)]="search"
                type="text"
                (ngModelChange)="searchPokemons()"
                class="field"
                placeholder="Search pokemon..."
            /> 
        </div>
        <div class="pages">
            <button class="page-button" (click)="loadNextPage(0)">1</button>
            <button class="page-button" (click)="loadNextPage(1)">2</button>
            <button class="page-button" (click)="loadNextPage(2)">3</button>
        </div>
    </header>
    <div class="main" *ngIf="search===''; else searchResults">
        <pokecard-component
            *ngFor="let pokecard of pokecardFullList"
            [pokeCard]="pokecard">
        </pokecard-component>
    </div>
    <ng-template #searchResults>
        <div class="results">
            <pokecard-component
                *ngFor="let pokecard of pokecardFilteredList"
                [pokeCard]="pokecard">
            </pokecard-component>
            <div id="no-results" *ngIf="pokecardFilteredList.length === 0">
                <div id="no-results-image">
                    <img src="../../../../assets/no-results-image.png" class="no-results-img"/>
                </div>
                <div id="no-results-info">
                    <h2 class="no-results-title">Oops! No results for '{{search}}'</h2>
                    <p class="no-results-text">Try again with another Pokemon!</p>
                </div>
            </div>
        </div>
    </ng-template>

    <footer class="footer">
    </footer>
</div>