.pokedex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin: 0px;
    padding: 10px;
}

.pokedex > .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
